<%- include("partials/header.ejs") %>

<h1>Om Mig</h1>
<img class="profile" src="images/AnimeProfil.png" alt="cat profile">

<p>
Jeg er brunbælte i BJJ under Shimon Mochizuki og træner til dagligt i Arte Suave i Grøndalscentret. 
På grund af slid på fingrene træner jeg ikke længere med gi – no-gi giver mig friheden til at holde niveau uden at ødelægge hænderne på grips.
</p>

<p>
Uden for måtten arbejder jeg bredt med IT og digital læring. Jeg kan godt lide at gøre kompliceret teknologi mere enkel og brugbar i praksis – både for virksomheder og privatpersoner. 
Jeg har baggrund som dirigent, og erfaringen fra musikken bruger jeg stadig, når jeg underviser og formidler: det handler om timing, struktur og at skabe overblik.
</p>

<p>
Jeg holder også foredrag om tinnitus og lyd. Mit fokus er, hvordan man kan bruge musik og lyd bevidst til at skabe ro i hverdagen og mindske gener.
</p>

<p>
Et af mine personlige projekter er <strong>BJJDB</strong> – en slags “IMDb for BJJ”.  
Målet er at lave et opslagsværk, hvor du hurtigt kan finde teknikker, og hvor indholdet bliver rated og kurateret. 
På den måde kan du nemt finde de bedste gratis instructionals i stedet for at drukne i middelmådige videoer.
</p>

<p>
Kort sagt: Jeg brænder for at kombinere passionen for BJJ, musik og teknologi – og gøre ting mere tilgængelige og overskuelige for andre.
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


    <%- include("partials/footer.ejs") %>

    